<nav id="nav" class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ app.request.baseUrl ~ '/showtv' }}">ShowTV.com</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ app.request.baseUrl ~ '/showtv' }}">Home</a></li>
                <li><a href="{{ app.request.baseUrl ~ '/showtv/trailers' }}">Trailers</a></li>
                <li><a href="{{ app.request.baseUrl ~ '/showtv/reviews' }}">Reviews</a></li>
                <li><a href="{{ app.request.baseUrl ~ '/showtv/news' }}">News</a></li>
                <li><a href="{{ app.request.baseUrl ~ '/showtv/contact' }}">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>