{% extends "layouts/default.html.twig" %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <h1 class="text-center">
                            {{ search.total_results }} result{{ search.total_results > 1 ? 's' : '' }} found for:
                            <span class="text-navy">"{{ searchTerm }}"</span>
                        </h1>

                        <hr />

                        <div class="gap half">&nbsp;</div>
                        <div class="row">
                            <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
                                {% include "partials/search.html.twig" %}
                            </div>
                        </div>
                        <div class="gap half">&nbsp;</div>


                        {% for record in search.results %}
                            <div class="search-result">
                                <h3>
                                    <a href="{{ app.request.baseUrl ~ '/showtv/shows/' ~ record.id }}">{{ record.name }}</a>
                                </h3>

                                <p>
                                    <a href="{{ path(route, { id: record.id }) }}" class="search-link">
                                        <i class="fa fa-link"></i> {{ 'http://' ~ app.request.getHost() ~ app.request.pathInfo ~ '/' ~ record.id }}
                                    </a>
                                </p>

                                <p>
                                    {% if record.overview %}
                                        {{ record.overview }}
                                    {% else %}
                                        No overview is available for this show.
                                    {% endif %}
                                </p>
                            </div>

                            <hr />
                        {% endfor %}

                        {% if search.total_results > 0 %}

                            <div class="text-center">
                                <ul class="pagination">
                                    {% for i in 1..search.total_pages %}
                                        <li class="{{ i == search.page ? 'disabled' : '' }}">
                                            <a href="{{ path(route, { s: searchTerm, page: i }) }}" class="disabled">{{ i }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>

                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="gap half">&nbsp;</div>
{% endblock %}